.main-head {
    width: 95%;
    margin: 0 0 0 auto;
}

nav {
    @include flex(space-between, center, row);
    min-height: 10vh;
    padding: 1rem;
    width: 60%;
    flex-wrap: wrap;
}

nav ul {
    @include flex(space-around, center, row);
    flex: 1 1 40rem;
}

.logo {
    @include flex(flex-start, center, row);
    flex: 1 1 20rem;
}

.logo h1 {
    margin: 2rem;
}

.intro {
    min-height: 90vh;
    width: 90%;
    margin: auto;
    @include flex(space-around, center, row);
    flex-wrap: wrap;
}

.intro-text {
    flex: 1 1 40rem;

    h2 {
        margin: 0rem 0rem;
        font-size: 8rem;
        background: $gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline-block;
    }

    h3 {
        margin: 2rem 0rem;
        font-size: 6rem;
    }

    p {
        margin: 2rem 0rem;
        color: $gray-text;
    }

    img {
        margin-right: 4rem;
    }
}

.intro-images {
    flex: 1 1 40rem;
}

.splash {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    z-index: -1;
}

.active {
    background-color: $gray-text;
    color: white;
    padding: 1rem 3rem;
    border-radius: 2rem;
}


/*ANIMATION*/
#me {
    animation: meMove 1.5s ease infinite alternate;
    transform-origin: bottom;
}

#plant-left {
    animation: plansMove 1.5s ease infinite alternate;
}

#plant-right {
    animation: plansMove 1.5s ease infinite alternate 0.5s;
}

#clock-arrow {
    animation: clockArrowMove 2s linear infinite;
    transform-box: fill-box;
    transform-origin: bottom;
}

@keyframes clockArrowMove {
    from {
        transform: rotateZ(0deg);

    }

    to {
        transform: rotateZ(360deg);
    }
}

@keyframes plansMove {
    from {
        transform: translateY(0%);
    }

    to {
        transform: translateY(-30%);
    }
}

@keyframes meMove {
    from {
        transform: rotateZ(-5deg);
    }

    to {
        transform: rotateZ(5deg);
    }
}