$header1: 2.5rem;
$header2: 4rem;
$header3: 2.5rem;
$header4: 2rem;
$text: 2.5rem;
$gradient: linear-gradient(left, #38d39f, #38a4d3);
$background-color: #154353;
$gray-text: #2c2c2c;

@mixin flex($justify, $align, $direction) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

@import 'global';
@import 'intro';
@import 'projects';
@import 'contact';
@import 'footer';

@media screen and (max-width:754px) {
    html {
        font-size: 42%;
    }

    .splash {
        display: none;
    }


    svg {
        height: 100%;
        width: 100%;
    }

    .main-head {
        width: 100%;
        margin: 0px;

        nav {
            width: 100%;
        }
    }

    .logo {
        @include flex(center, center, column);
        text-align: center
    }

    .intro-text {
        @include flex(center, center, column);
        text-align: center;
    }

    .intro-images {
        margin: 4rem 0rem;
        text-align: center;
    }


    /* PORJECT*/
    .travelly-project,
    .elena-project {
        img {
            height: 100%;
            width: 100%;
        }
    }
}